#canvas {
	display: flex;
	justify-content: center;
}

h1 {
	text-align: center;
}

body {
	background-color: #222;
	color: #cccccc;
}

.optionsBox{
	background-color: black;
	float: right;
	border:2px solid black;
	padding: 0.1em;
	margin: 0.1em;
}