#canvas {
	display: flex;
	justify-content: center;
	background-color: #555; /*TODO: remove, make background black*/
}

h1 {
	text-align: center;
}

body {
	background-color: #222; /*TODO: Maybe make black*/
	color: #cccccc;
}

.optionsBox{
	float: right;
	border:2px solid black;
	padding: 0.1em;
	margin: 0.1em;
}